:root {
  font-family: system-ui, "Montserrat", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-image: url("https://storage.googleapis.com/monstercat/background-tile.webp");
  background-repeat: repeat;
  background-attachment: scroll;
  font-weight: 500;
}
.text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f1f1f1;
  -webkit-text-fill-color: transparent;
}
li {
  list-style: none;
}
 a {
  text-decoration: none;
  color: white;
  position: relative;
 }

 @media (max-width: 1920px){
  body {
    padding: 0 1rem;
  }
 }